<%- include('partials/_header.ejs') %>
  <div class="tm-page-container mx-auto">
    <header class="tm-header text-center">
      <h1 class="tm-title text-uppercase">Verticard</h1>
      <p class="tm-primary-color"><i>new bootstrap theme</i></p>
    </header>

    <div class="tm-section">
      <%- include('partials/_navigation.ejs') %>
      <div class="tm-content-container">
        <div class="tm-content tm-content-2">
          <p>
            This gallery contains a beautiful hover effect and pop-up larger
            images. Please mention TemplateMo site to your friends.
          </p>

          <div class="container-fluid">
           
            <div class="row tm-gallery" id="tmGallery">
              <% for (i=0;i < portfolios.length; i++) { %>
              <div class="col-sm-6 tm-gallery-item">
                <figure class="effect-bubba">
                  <img src="img/gallery/gallery-img-01.jpg" alt="Gallery item" class="img-fluid" />
                  <figcaption>
                    <h2><%= portfolios[i].name%></h2>
                    <p><%= portfolios[i].description%></p>
                    <a href="img/gallery/gallery-img-01.jpg">View more</a>
                  </figcaption>
                </figure>
              </div>
              <% } %>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/_footer.ejs') %>
  </div>

  <script src="js/jquery-3.4.1.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script>
    $(document).ready(function () {
      // Magnific Pop up
      // https://dimsemenov.com/plugins/magnific-popup/
      $('.tm-gallery').magnificPopup({
        delegate: 'a', // child items selector, by clicking on it popup will open
        type: 'image',
        gallery: {
          enabled: true
        },
      });
    });
  </script>

</body>
</html>