<%- include('partials/_header.ejs') %>
  <div class="tm-page-container mx-auto">
    <header class="tm-header text-center">
      <h1 class="tm-title text-uppercase"><%= portfolio.name%></h1>
    </header>

    <section class="tm-section">
      <%- include('partials/_navigation.ejs') %>
      <div class="tm-content-container">
        <div class="mb-0">
          <img src="<%= portfolio.image%>" alt="" class="img-fluid tm-img" />
        </div>
        <div class="tm-content">
          <h2 class="tm-page-title"><%=portfolio.name%></h2>
          <p class="mb-4"><%= portfolio.description%></p>
        </div>
      </div>
    </section>

    <%- include('partials/_footer.ejs') %>
  </div>
</body>

</html>
